@import "@/app/styles/variables.scss";

.app {
    padding: 200px;
}

.inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    gap: 10px;
    height: 180px;
    overflow: hidden;
    outline: none;
    border: none;
}
